*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100px;
    width: 1300px;
    border: none;
    background-color: #c8f3fa;
   
    align-items: center;
    
  
  }
  .navbar{
    width: 115%;
    height: 15vh;
    margin:auto;
    display: flex;
    align-items: center;
    font-size: large;
    
  }
  .logo{
    width: 200px;
    cursor: pointer;
    padding-left: 10px;
  }
  
  nav{
    flex:1.5;
    padding-left: 390px;
  
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 23px;
  
  }
  
  .content{
    background-color: #b8e5fa;
    
    
  }
  nav ul li a{
    text-decoration: none;
    color: #023047;
  }
  
   
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
   
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
   
  .cta:hover svg {
    transform: translateX(0);
  }
   
  .cta:active {
    transform: scale(0.95);
  }
  .button1 {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 2px solid #FF0072;
    border-radius: 22px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #FF0072;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    font-weight: 1000;
    
  }
  
  .button1:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -1;
    border-radius: 22px;
  }
  
  .button1:hover, .button1:focus {
    color: white;
  }
  
  .button1:hover:before, .button1:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .button1:active {
    transform: scale(0.9);
  }
  * {box-sizing:border-box}


.card {
    position: relative;
    top: 150px;
    left: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(208, 238, 255);
    padding: 20px;
    width: 800px;
    border-radius: 10px;
  }

  .infos {
    margin-top: 1rem;
  }
  
  .date-time {
    color: rgba(7, 63, 216, 1);
    font-size: 12px;
    font-weight: 600;
  }
  
  .comment {
    margin-top: 0.4rem;
    line-height: 1.625;
    color: rgba(107, 114, 128, 1);
  }
  
  .author {
    margin-top: 1.3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(107, 114, 128, 1);
  }
   .Message {
    position: absolute;
    top: 160px;
    left: 40%;
    width: 310px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(208, 238, 255);
    transform: translate(0px,0px);
    box-shadow: 5px 5px rgb(159, 203, 228);
  }
  
  .MsgInput {
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(208, 238, 255);
    border: none;
    outline: none;
    width: 250px;
    height: 30px;
    transform: translate(5px,-3px);
    color: rgb(208, 238, 255);
    padding: 10px;
    font-weight: bold;
  }
  
  .SendSVG {
    width: 30px;
    height: 30px;
    border-width: 50px;
    transform: translate(20px,5px);
    background-size: 10px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .SendSVG:hover {
    background-color: #6dd0e9;
  }
  .submit{
    width: 60px;
    height: 30px;
    border-radius: 5px;
  }